@charset "UFT-8";

:root {

    --cor01: #28116C;
    --cor02: #3F365C;
    --cor03: #736C89;
    --cor04: #9D3608;
    --cor05: #855A47;
    --cor06: #C8A797;
    --cor07: #838447;
    --cor08: #8F906A;
    --cor09: #C6C797;

    /*--cor01: #002333;
    --cor02: #0b4a4b;
    --cor03: #10888a;
    --cor04: #deefe7;
    --cor05: #b4bec9;
    --cor06: #deefe7;
    --cor07: #ffffff;*/

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor06);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor01);
    color: white;
    min-height: 150px;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #28116C;
    color: white;
    font-size: 1em;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap: 20px 20px;
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;

}


main a {
    color:var(--cor01);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--cor04);
    text-decoration:underline;
}
main h1 {
    color:var(--cor01);
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding: 20px;

    
}

main h2 {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    background-color: var(--cor02);
    text-indent: 30px;
}



main ul {
    padding: 20px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    line-height: 1.3em;

}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}